<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stores List</title>
    <style>
        #storesContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .store-item {
            flex: 1 1 calc(50% - 20px);
            border: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
    <script th:src="@{/js/infiniteScroll.js}"></script>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>

<div id="storesContainer">
    <div class="store-item" th:each="store : ${storeSlice.content}">
        <h2 th:text="${store.name}">Store Name</h2>
        <p th:text="'Category: ' + ${store.categoryName}">Category Name</p>
        <p th:text="'Capacity: ' + ${store.capacity}">Capacity</p>
        <p th:text="'Open Time: ' + ${store.openTime}">Open Time</p>
        <p th:text="'Close Time: ' + ${store.closeTime}">Close Time</p>
        <p th:text="'Last Order Time: ' + ${store.lastOrderTime}">Last Order Time</p>
        <p th:text="'Phone: ' + ${store.phone}">Phone Number</p>
        <p th:text="'Address: ' + ${store.city} + ', ' + ${store.street} + ', ' + ${store.zipcode}">Address</p>
        <p th:text="${store.description}">Description</p>
    </div>
</div>

<div id="loadMore">Loading more stores...</div>

</body>
</html>