<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약</title>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .clickable-row {
        cursor: pointer;
    }

    .clickable-row:hover {
        background-color: #f5f5f5;
    }

    .status-filter {
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
<div class="main-container">
    <a href="/">HOME</a>
    <form th:action="@{/partners/reservations/filter}" method="post">
        <div class="status-filter">
            <div>
                <label><input type="checkbox" name="status" value="PENDING" checked> 대기</label>
                <label><input type="checkbox" name="status" value="APPROVED"> 승인</label>
                <label><input type="checkbox" name="status" value="REJECTED"> 거절</label>
                <label><input type="checkbox" name="status" value="CONFIRMED"> 확정</label>
                <label><input type="checkbox" name="status" value="CANCELLED"> 취소</label>
                <label><input type="checkbox" name="status" value="COMPLETED"> 완료</label>
                <label><input type="checkbox" name="status" value="NOSHOW"> 노쇼</label>
            </div>
            <button type="submit">상태별 예약 조회</button>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>예약 번호</th>
            <th>예약 날짜</th>
            <th>상호명</th>
            <th>인원</th>
            <th>예약 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" th:each="reservation : ${reservationList}" th:data-id="${reservation.id}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${#temporals.format(reservation.reservationTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${reservation.storeName}"></td>
            <td th:text="${reservation.partySize}"></td>
            <td th:text="${reservation.reservationStatus.getDescription()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    const rows = document.querySelectorAll(".clickable-row");

    rows.forEach(row => {
        row.addEventListener("click", function () {
            const reservationId = this.dataset.id;
            window.location.href = `/partners/reservations/detail/${reservationId}`;
        });
    });
</script>
</body>
</html>