/* general.css */

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}

.main-container {
    max-width: 768px;
    width: 100%;
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    color: #212529;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* 폼 스타일 */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* 비활성화된 폼 컨트롤 스타일 */
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
select:disabled,
textarea:disabled {
    background-color: #e9ecef;
    color: #6c757d;
}

input[type="submit"],
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

/* 비활성화된 버튼 스타일 */
input[type="submit"]:disabled,
button:disabled {
    background-color: #6c757d;
    color: #fff;
    cursor: not-allowed;
}

input[type="submit"]:disabled:hover,
button:disabled:hover {
    background-color: #5a6268;
}

