<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<h1>HOME</h1>

<div th:if="${id != null}">
    <p><strong>ID:</strong> <span th:text="${id}">User ID</span></p>
    <p><strong>Role:</strong> <span th:text="${role}">User Role</span></p>
    <p><strong>Name:</strong> <span th:text="${name}">User Name</span></p>
</div>

<br><br>
<a href="/login">로그인</a>
<br><br>
<a href="/users/join">일반회원 가입</a>
<br><br>
<a href="/partners/join">파트너 가입</a> | <a href="/login">파트너 로그인</a>
<br><br>
<a href="/logout">로그아웃</a>

<hr>

<h3>전체 이용 메뉴</h3>
<a href="/stores">전체 매장 목록</a> |

<h3>매니저 전용 메뉴</h3>
<a href="/partners/stores">관리 매장 목록</a>

<h3>마이 메뉴</h3>
<a href="/my/reservations">내 예약 현황</a>

</body>
</html>